+++
title = "Home"
linkTitle = "Home"

+++

{{< blocks/cover title="Policy for the People Challenge" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<p class="lead mt-5"><b>Join us as we design policies to tackle our society's most pressing challenges.</b></p>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://this-page-intentionally-left-blank.org">
		Apply Now <i class="fas fa-pencil-alt ml-2 "></i>
	</a>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Policy for the People Challenge is a three-day online competition for anyone to propose policies to solve today's most pressing challenges.
Over the course of 36-hours, policython competitors, in teams of one to four members, will hear from community partners, federal agencies,
and international organizations, receive guidance from leading academics, and submit their policy memos to policymakers.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="**insert feature/rule here**" url="https://this-page-intentionally-left-blank.org" %}}
insert feature/rule description here
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="**insert feature/rule here**" url="https://this-page-intentionally-left-blank.org" %}}
insert feature/rule description here
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="**insert feature/rule here**" url="https://this-page-intentionally-left-blank.org" %}}
insert feature/rule description here
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Our Partners and Sponsors</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="**insert sponsor name here**" url="https://this-page-intentionally-left-blank.org" %}}
insert sponsor description here
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="**insert sponsor name here**" url="https://this-page-intentionally-left-blank.org" %}}
insert sponsor description here
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="**insert sponsor name here**" url="https://this-page-intentionally-left-blank.org" %}}
insert sponsor description here
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Interested in designing policies to tackle our society's most pressing challenges?</h1>
</div>

<div class="mx-auto">
<a class="btn btn-lg btn-secondary mr-3 mb-4 mt-5" href="https://this-page-intentionally-left-blank.org">
	Apply Now <i class="fas fa-pencil-alt ml-2 "></i>
</a>
</div>

{{< /blocks/section >}}
